@import url('https://fonts.googleapis.com/css?family=Rubik');

body {
    height: 100%;
    margin: 0;
    text-align: center;
    font-family: Rubik;
    background-color: #F8F9FB;
    color: rgb(76, 86, 106);
}

header {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
    border-bottom: 0.0625em solid #eceff4;
}

#newBook {
    border: 0.0625em solid rgb(76, 86, 106);
    padding: 0.375em 0.75em;
    background: transparent;
    transition: background-color 200ms ease-in 0s, border-color 200ms ease-in 0s, box-shadow 200ms ease-in 0s, color 200ms ease-in 0s;
    border-radius: 0.25em;
}

#newBook:hover,
#newBook:active {
    border-color: rgb(121, 184, 202);
    color: rgb(121, 184, 202);
    cursor: pointer;
}

#cardsContainer {
    margin: 0px 50px;
    display: flex;
    flex-wrap: wrap;
}

#cardsContainer div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 230px;
    min-height: 230px;
    margin: 15px;
    border-radius: 0.5em;
    background-color: white;
    transition: box-shadow 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
    border: 0.0625em solid #eceff4;
}

#cardsContainer div:hover {
    box-shadow: rgba(184, 194, 215, 0.35) 0px 10px 20px 2px;
}

form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.0625em solid black;
    font-size: 20px;
    width: 300px;
    min-width: 300px;
    padding: 20px;
    display: block;
    color: rgb(216, 222, 233);
    background-color: rgb(46, 52, 64);
    box-shadow: 0 0 0 9000px rgba(0, 0, 0, 0.75);
    border-radius: 0.5em;
    transition: box-shadow 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
}

form input {
    border-radius: 0.25em;
    background: transparent;
    padding: 0.375em 0.75em;
    color: rgb(236, 239, 244);
    line-height: 1.15;
    border: 0.0625em solid rgb(76, 86, 106);
}

#text-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#text-input label {
    padding: 8px;
}

#isRead input {
    background-color: green;
}

#buttons {
    padding: 15px 0px;
    display: flex;
    justify-content: space-evenly;
}

#buttons button {
    border: 0.0625em solid rgb(76, 86, 106);
    color: rgb(236, 239, 244);
    line-height: 1.15;
    padding: 0.375em 0.75em;
    background: transparent;
    border-radius: 0.25em;
    transition: background-color 200ms ease-in 0s, border-color 200ms ease-in 0s, box-shadow 200ms ease-in 0s, color 200ms ease-in 0s;
    width: 100px;
}

.displayForm {
    display: none !important;
}

#buttons button:hover {
    border-color: rgb(121, 184, 202);
    color: rgb(121, 184, 202);
    cursor: pointer;
}

#deleteButton {
    width: 80px;
    margin: 8px;
    align-self: center;
    border-radius: 0.25em;
    background: transparent;
    padding: 0.375em 0.75em;
    color: rgb(76, 86, 106);
    transition: background-color 100ms ease-in 0s, border-color 100ms ease-in 0s, box-shadow 100ms ease-in 0s, color 100ms ease-in 0s;
    border: 0.0625em solid rgb(76, 86, 106);
}

#deleteButton:hover {
    border-color: #bf616a;
    color: #bf616a;
    cursor: pointer;
}

button:focus {
    outline: currentcolor none medium;
}

.isRead {
    border: 0.0625em solid rgb(76, 86, 106);
    border-radius: 0.25em;
    margin: 8px;
    width: 150px;
    align-self: center;
    background: #a3be8c;
    padding: 0.375em 0.75em;
    line-height: 1.15;
    color: rgb(59, 66, 82);
    transition: background-color 100ms ease-in 0s, border-color 100ms ease-in 0s, box-shadow 100ms ease-in 0s, color 100ms ease-in 0s;
}

.isRead:hover {
    cursor: pointer;
    background-color: rgb(148, 182, 134);
}

.notRead {
    border: 0.0625em solid rgb(76, 86, 106);
    border-radius: 0.25em;
    margin: 8px;
    width: 200px;
    align-self: center;
    background: #bf616a;
    padding: 0.375em 0.75em;
    line-height: 1.15;
    color: rgb(236, 239, 244);
    transition: background-color 100ms ease-in 0s, border-color 100ms ease-in 0s, box-shadow 100ms ease-in 0s, color 100ms ease-in 0s;
}

.notRead:hover {
    background-color: rgb(176, 89, 100);
    cursor: pointer;
}